* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    justify-content: center;
    align-items: center;
    text-aling: center
}

.container {
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 2px solid black;
}

#image {
    width: 350px;
    height: auto;
}

#heading {
    color: red;
}
